# See https://help.github.com/ignore-files/ for more about ignoring files.

# IntelliJ project config files
/.idea

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# environment
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
